body { margin: 0 ; padding: 0; font-family: monospace; background-color:#360836;}
.active { color:#fff}
/* start navbar */ 
.navbar {
    width:auto;
    height:50px;
    background-color: #360836;
}
.navbar ul {
    list-style: none;
    text-align: center;
    line-height:15px;
    font-size:20px;
}
.navbar ul li  { display: inline-block; padding: 5px; }
.navbar ul li a { text-decoration: none; color: #00ff40; }
.navbar ul li a:hover { color:#fff }
/* end navbar */ 
/* start contact */ 
.contact { 
    width:100%;
    height: 800px;
    background-size:cover;
    background: url("coverPage2.PNG");
    text-align: center;
    padding-top: 8%;
}
.contact h2 {
    margin: 0;
    font-size: 40px;
    font-style: italic;
    
}
/* end contact */
